$primary-light: #f7f9f9;
$primary-dark: #212f3c;

body {
    background-color: $primary-light;
    font-family: sans-serif;
    color: $primary-dark;
}
h1 {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 1rem;
}